<p id="notice"><%= notice %></p>

<h2>Brand</h2>

<p>
  <strong>Name: <strong>
  <%= @resource.name %>
</p>
<%= link_to 'Edit', edit_api_brand_path(@resource) %> |
<%= link_to 'Back', api_brands_path %>
