<p id="notice"><%= notice %></p>

<h2>Supplier</h2>

<p>
  <strong>Name: <strong>
  <%= @resource.name %>
</p>

<%= link_to 'Edit', edit_api_supplier_path(@resource) %> |
<%= link_to 'Back', api_suppliers_path %>
