<h1>Editing Address</h1>

<%= form_for @resource, url: api_address_path, method: :patch do |form| %>
  <%= render 'form', form: form %>
<% end %>

<%= link_to 'Show', api_address_path(@resource) %> |
<%= link_to 'Back', api_addresses_path %>
