<h1>Web#welcome</h1>
<p>Find me in app/views/web/welcome.html.erb</p>
<div id="resources">resources</div>

<script>
    $.ajaxSetup({
        headers: {"X-Requested-With": "XMLHttpRequest"}
    });
</script>
